<h2><%= currentUser.name %>'s Profile</h2>

<h1> Projects: </h1>

<h1><%= currentUser.id %></h1> 

<% project.forEach((project)=>{%>
    <div style="outline: red dotted 1px">
        <a href="/projects/<%= project.id %>"><h1> <%= project.title %></h1></a>
        <h3> <%= project.description %></h3>
        <small><%= project.createdAt%></small>
        <small><%= project.updatedAt%></small>
        <small></small>
    </div>

<%})%>

<!-- 
<script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>'
    const events = <%-JSON.stringify(project.events)%>
    console.log(events)
    </script>
    <script src="/static/js/indexmap.js">
    </script> -->